<footer>

  <div class="footer-content">

    <div class="created-at">
      <article class="mapc-general">
        <a href="http://www.mapc.org" class="logo-image">
          <img src="/assets/images/mapc-logo.svg">
        </a>
        <div class="mapc-logo-text">
          This dashboard was designed and built by the MAPC's Digital Services Group and the Clean Energy Department.
        </div>
      </article>

      <article class="mapc-energy">
        <a href="http://www.mapc.org/clean-energy" class="logo-image">
          <img src="/assets/images/clean-energy-logo.png">
        </a>
        <div class="mapc-logo-text">
          <a href="http://www.mapc.org/clean-energy">Plug In to MAPC's Clean Energy programs</a>
        </div>
      </article>
    </div>

    <nav class="footer-nav">
      <ul>
        <li>{{link-to 'Learn More' 'learn-more'}}</li>
        <li>{{link-to 'Methodology' 'methodology'}}</li>
      </ul>
    </nav>

  </div>

</footer>
