<footer>

  <div class="footer-content">

    <div class="created-at">
      <article class="mapc-general">
        <a href="http://www.mapc.org" class="logo-image">
          <img src="/assets/images/mapc-logo.svg">
        </a>
        <div class="mapc-logo-text">
          This dashboard was designed and built by MAPC's Digital Services Group and the Clean Energy Department.
        </div>
      </article>
    </div>

    <nav class="footer-nav">
      <ul>
        <li>{{link-to 'Learn More' 'learn-more'}}</li>
        <li>{{link-to 'Methodology' 'methodology'}}</li>
        <li><a href="https://www.mapc.org/net-zero">Get Plugged In</a></li>
      </ul>
    </nav>

  </div>

</footer>
