<footer>
  <div class="footer-content">
    <div class="created-at">
      <!--<h4>Created at</h4>-->
      <a href="http://mapc.org">
        <img class="mapc-logo" src="/assets/images/mapc-logo.svg">
      </a>
    </div>

    <div class="copyright">
      <img src="/assets/images/cc-logo.svg"> 
    </div>

    <nav class="footer-nav">
      <ul>
        <li>{{link-to 'Learn More' 'learn-more'}}</li>
        <li>Methodology</li>
      </ul>
    </nav>
  </div>
</footer>
