<header>
  <h1>
    <em>Metropolitan Area Planning Council Presents</em>

    {{#link-to 'index'}}
      LEAD<span>: Local Energy Action Dashboard</span>
    {{/link-to}}
  </h1>

  <nav class="header-nav">
    <ul>
      <li>{{link-to 'Learn More' 'learn-more'}}</li>
      <li>{{link-to 'Methodology' 'methodology'}}</li>
      <li><a href="https://www.mapc.org/our-work/expertise/clean-energy/">Get Plugged In</a></li>
    </ul>
  </nav>
</header>
