<header>
  <h1>
    {{#link-to 'index'}}
      Local Energy Action Dashboard
    {{/link-to}}

    <em>By Metropolitan Area Planning Council</em>
  </h1>

  <nav class="header-nav">
    <ul>
      <li>{{link-to 'Learn More' 'learn-more'}}</li>
      <li>{{link-to 'Methodology' 'methodology'}}</li>
      <li><a href="https://www.mapc.org/our-work/expertise/clean-energy/">Get Plugged In</a></li>
    </ul>
  </nav>
</header>
