<header>
  <h1>
    {{#link-to 'index'}}
      LEAD<span>: Local Energy Action Dashboard</span>
    {{/link-to}}
  </h1>

  <nav class="header-nav">
    <ul>
      <li>{{link-to 'Learn More' 'learn-more'}}</li>
      <li>Methodology</li>
    </ul>
  </nav>
</header>
