<section class="component stacked-area-chart-layout">

  <div class="chart-modifiers">
    <h2>{{acronyze municipality}}'s Yearly Usages</h2>
  </div>

  <div class="chart-wrapper">
    {{stacked-area-chart data=chartData}}
  </div>

</section>
