<div class="component chart stacked-area-chart">
  <div id="{{__chartID}}-tooltip-holder" class="tooltip-holder"></div>
  <div class="svg-wrapper">
    <svg id={{__chartID}}></svg>
  </div>
  <div id="{{__chartID}}-legend" class="legend"></div>
</div>
