html, body {
  display: inline;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  height: calc(90vh);
  padding: 1em;

  .item {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

#introduction {
  background-color: teal;
  color: white;
}

#about {
  background-color: orange;
}

#sectors {
  padding-top: 7em;
  background-color: lightblue;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  animation: bounceIn 1s;
}

@keyframes slideIn {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 0;
  }
}

.menu {
  position: fixed;
  background-color: white;
  display: flex;
  width: 100%;
  animation: slideIn 0.2s;
  .item {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 1em;
    cursor: pointer;
  }

  .item.back {
    flex-grow: 0.5;
    margin:0;
    padding:0;
    background-color: pink;
    color: white;
    align-items: center;
  }

  button.item {
    background-color: cyan;
    color: white;
    border-radius: 0px;
    border-width: 0px;
    padding: 1em;
    margin: 1em;
    transition: transform 0.1s
  }

  button.item.active {
    background-color: blue;
  }

  button.item:active {
    transform: scale(0.95);
    border: none;
  }

  button.item:focus {
    outline: none;
  }
}

@import "ember-power-select";
.ember-power-select-trigger {
  width: 100%;
}
