<section class="route city city-commercial">

  <div class="city-information">
    <div class="content-wrapper">
      <div class="content-copy">
        <h1>{{municipality}}: Commercial</h1>

        {{sector-analysis 
          sector=sector
          data=muniSectorData 
          criteriaName=criteriaName
          criteriaColumn=criteriaColumn
        }}
      </div>
      <div class="sector-graphic-wrapper">
        <img class="sector-graphic" src="/assets/images/commercial.svg">
      </div>
    </div>
  </div>

  {{pie-chart-layout 
    data=sectorData
    criteria=criteria 
    criteriaColumn=criteriaColumn 
    criteriaName=criteriaName
    municipality=municipality 
    sector=sector
  }}

  {{spider-chart-layout 
    action='fetchDataFor' 
    data=sectorData
    criteria=criteriaColumn 
    municipalities=municipalities 
    municipality=municipality 
    sector=sector
  }}

</section>
