<section class="route city-index">

  <div class="city-information">
    <div class="content-wrapper">
      <h1>{{municipality}}: All Sectors</h1>
      <p>
        Sit perferendis sapiente facere impedit quo sed assumenda! Illo nulla illum doloremque molestias facere possimus architecto laboriosam aperiam aut nisi nihil perferendis dolorum in qui. Omnis aut hic officiis neque.
        Ipsum quod itaque dignissimos quam optio eaque minima quibusdam! Illum sapiente minus ullam vitae provident et assumenda? Dignissimos quod reprehenderit quaerat distinctio ad, tempora. Vitae perspiciatis ipsum provident voluptates molestiae.
      </p>
      <img class="sector-graphic" src="/assets/images/all.svg">
    </div>
  </div>

</section>
