<h1>Worcester: Industrial</h1>
<iframe src="//e.infogr.am/consumption_by_fuel_type?src=embed" title="" width="550" height="722" scrolling="no" frameborder="0" style="border:none;"></iframe>
{{outlet}}
