<h1>Worcester: Residential</h1>
<iframe src="//e.infogr.am/consumption_by_structure?src=embed" title="Consumption by Structure" width="550" height="771" scrolling="no" frameborder="0" style="border:none;"></iframe>
{{outlet}}
