<section class="route city-residential">

  {{sector-layout

    sector=sector
    municipality=municipality
    municipalities=municipalities

    sectorData=sectorData
    muniSectorData=muniSectorData

    valueMap=valueMap

    criteria=criteria
    criteriaName=criteriaName
    criteriaColumn=criteriaColumn

    action='fetchDataFor'
  }}

</section>
