footer {
  width: 100%;
  min-height: 150px;

  color: $color_font-dark;

  background: $color_bg-medium;
  border-top: 4px solid $color_brand-primary;

  .footer-content { 
    display: flex;

    width: $layout_index-width; 
    height: 100%;
    margin: 0 auto;
    padding: 15px 0;

    @include media('x-small') { padding: 1.5% 0 4%; }
  }

  .created-at {
    flex: 1 0 65%;
    display: flex;
    flex-direction: column;

    max-width: 400px;

    text-align: left;

    article  {
      display: flex;
      width: 100%;
      margin: 12px auto;

      @include media('x-small') { display: block; }

      &.mapc-energy {
        a { text-decoration: underline; }
        .mapc-logo { 
          visibility: hidden; 

          @include media('x-small') { display: none; }
        }
      }
    }

    .mapc-logo {
      flex: 1 0 20%;
      display: block;

      height: 100%;
      max-height: 35px;

      img { 
        height: 100%; 
        max-height: 35px;
      }

      @include media('x-small') { margin-bottom: 15px; }
    }

    .mapc-logo-text {
      flex: 1 0 80%;

      padding-left: 15px;

      font-size: 10px;
      font-weight: 300;

      @include media('x-small') { padding-left: 0; }
    }
  }

  .footer-nav {
    flex: 1 0 35%;

    text-align: right;
  }
}
