.component.pie-chart {

  .legend {
    display: none;
    position: absolute;
    top: 0;
    right: -5%;

    width: 80px;
    height: 100px;

    background: #555;
  }

  .arc path {
    stroke: rgba(#fff, .5);
    stroke-width: 1px;
  }

  .arc text {
    fill: #000;
    font-size: 12px;
    font-weight: bold;
  }

  .arc line { stroke: #fff; }
}
