.component.pie-chart {

  text-align: center;

  .legend {
    $square_size: 11px;
    $square_size--small: $square_size - 2px;

    position: absolute;
    top: -10%;
    right: 0;
    text-align: left;

    @include media('medium-small') {
      right: 10%; 
    }

    @include media('x-small') {
      top: -15%;
      right: 5%; 

      ul { margin: 5px auto; }
      li { margin: -3px auto; }
    }

    .fuel-color {
      display: inline-block; 
      top: $square_size / 10;

      width: $square_size;
      height: $square_size;
      margin-right: $square_size;

      @include media('small') {
        width: $square_size--small;
        height: $square_size--small;
        margin-right: $square_size--small;
      }
    }

    .fuel-name {
      font-size: $square_size + 2;
      font-weight: 300;

      @include media('small') {
        font-size: $square_size--small + 2;
      }
    }
  }

  .tooltip-holder {  
    @extend ._vertical-center;
    z-index: 20;

    width: 0;
    margin: 0 auto;
  }

  .tooltip {
    position: absolute;
    top: 95px;
    left: 130px;
    display: none;

    min-width: 240px;
    width: auto;
    padding: 10px;

    color: $color_font-dark;
    font-size: 14px;
    text-align: left;

    background: $color_bg-medium;
    border: 2px solid darken($color_bg-medium, 10);
    box-shadow: 1px 1px 4px rgba($color_font-dark, .1);

    @include media('medium-small') { padding: 4px; }

    small {
      display: inline-block;
      top: 4px;

      font-size: 8px; 
      margin: 0 0px;
    }

    span {
      margin-left: 2px;

      color: lighten($color_font-dark, 10);
      font-size: 12px;
      font-weight: 300;
    }

    .path-info {
      padding: 5px 10px;

      @include media('medium-small') { padding: 3px 8px; }

      .fuel-type { 
        margin-top: -2px;

        font-size: 16px;
        font-weight: 700; 

        @include media('medium-small') { font-size: 15px; }
      }
    }

    .percent {
      float: left;

      height: 100%;
      padding: 4px 10px;
      margin-right: 10px;

      font-size: 30px; 

      border-right: 2px solid darken($color_bg-medium, 8);

      @include media('medium-small') {
        font-size: 26px;
      } 
    }
  }

  .chart { z-index: 10; }

  .arc path {
    stroke: rgba(#fff, .5);
    stroke-width: 1px;
  }

  .arc text {
    fill: #000;
    font-size: 12px;
    font-weight: bold;
  }

  .arc line { stroke: #fff; }

}
