.component.pie-chart {

  text-align: center;

  .legend {
    display: none;
    position: absolute;
    top: 0;
    right: -5%;

    width: 80px;
    height: 100px;

    background: #555;
  }

  .tooltip-holder {  
    @extend ._vertical-center;
    z-index: 20;

    width: 0;
    margin: 0 auto;
  }

  .tooltip {
    position: absolute;
    top: 95px;
    left: 130px;
    display: none;

    min-width: 230px;
    width: auto;
    padding: 10px;

    color: $color_font-dark;
    font-size: 14px;
    text-align: left;

    background: $color_bg-medium;
    border: 2px solid darken($color_bg-medium, 10);
    box-shadow: 1px 1px 4px rgba($color_font-dark, .1);

    .path-info {
      padding: 5px 10px;

      .fuel-type { 
        margin-top: -2px;

        font-size: 16px;
        font-weight: 700; 
      }
    }

    .percent {
      float: left;

      height: 100%;
      padding: 4px 10px;
      margin-right: 10px;

      font-size: 30px; 

      border-right: 2px solid darken($color_bg-medium, 8);
    }
  }

  .chart { z-index: 10; }

  .arc path {
    stroke: rgba(#fff, .5);
    stroke-width: 1px;
  }

  .arc text {
    fill: #000;
    font-size: 12px;
    font-weight: bold;
  }

  .arc line { stroke: #fff; }

}
