.component.pie-chart-layout {

  display: flex;

  margin: 60px auto;

  .chart-modifiers {
    width: 60%;

    h4 {
      margin-bottom: 0;

      font-size: 28px; 
    }

    h5 {
      margin-top: 0;

      color: $color_brand-secondary;
      font-size: 20px;  
      font-weight: 300;
    }

    .criteria-selector {
      h4 {
        display: inline-block;

        margin-right: 10px;
        font-size: 20px;
      } 
    }
  }

  .chart-wrapper {
    width: 40%;
    padding-top: 50px;
  }

}
