.ember-power-select-dropdown {

  &.ember-basic-dropdown-content--below {
    box-shadow: 2px 2px 4px 1px rgba(20,20,20,.1); 
  }

  .ember-power-select-search-input { 
    box-sizing: border-box; 
    outline: none;
  }

}

.route.application, .route.city {
  $transition_time: .2s;

  .ember-power-select-status-icon {
    $arrow_size: 12px;

    @extend ._vertical-center;
    top: 60%;
    left: initial;
    right: 10px;

    width: 0;
    height: $arrow_size / 2;
    margin: 0 auto;

    border-style: solid;
    border-width: $arrow_size ($arrow_size / 1.2) 0;
    border-color: $color_brand-primary transparent transparent;

    transition: top $transition_time / 2, border-top-color $transition_time;
  }

  .ember-power-select-trigger {
    padding: 8px 2px 6px;

    text-align: left;
    font-size: 30px;

    background: $color_bg-light;
    border: none;
    border-bottom: 3px solid rgba($color_brand-primary, 1);

    overflow-x: initial;
    outline: none;
    cursor: pointer;
    transition: border-color $transition_time;

    &:hover {
      border-color: rgba($color_brand-primary--hover, 1);
      transition: border-color $transition_time;

      .ember-power-select-status-icon {
        top: 63%;

        border-top-color: $color_brand-primary--hover;

        transition: top $transition_time / 2, border-top-color $transition_time;
      }
    }

    &[aria-expanded="true"] {
      .ember-power-select-status-icon {
        top: 55%; 
      }

      &:hover {
        .ember-power-select-status-icon {
          top: 52%; 
        } 
      }
    }
  }
}

.route.city {

  .ember-power-select-status-icon {
    height: 75%;
    width: 0;

    &:after {
      border-width: 15px (15px / 1.2) 0;
    }
  }

  .ember-power-select-trigger {
    top: 2px;
    display: inline-block;

    width: 240px; 
    padding: 4px 1px 1px;

    font-size: 28px;
  }

  .ember-power-select-selected-item {
    margin-left: 2px;
  }

}
