.component.spider-chart-layout {
  padding: 60px 0;

  @include media('medium') { padding: 30px 0 50px; }

  .comparison-selector {
    margin-bottom: 40px;

    & > * { display: inline-block; }

    @include media('small') {
      margin-bottom: 20px; 

      .selection-box {
        font-size: 14px; 
      }
    }

    .power-select {
      display: inline-block; 
      top: 5px;

      width: 300px;
      margin-right: 20px;

      .ember-power-select-trigger {
        width: 100%;

        font-size: 16px;

        @include media('small') {
          font-size: 14px; 
        }
      }
    }

    .comparison-list {

      li {
        display: inline-block;
        top: -3px;

        margin: 10px 3px;
        padding: 4px 35px 6px 12px;

        background: $color_bg-medium; 

        border-bottom: 3px solid darken($color_bg-medium, 10);

        @include media('small') {
          margin: 15px 2px 8px;
          padding: 3px 30px 5px 10px;

          font-size: 14px;

          border-bottom-width: 3px;
        }
      }

      span.remove {
        @extend ._vertical-center;
        top: 42%;
        right: 10px;
        left: initial;

        color: lighten($color_font-dark, 40);
        font-size: 18px;
        font-weight: 700;

        cursor: pointer;
        transition: color .15s;

        &:hover {
          color: lighten($color_font-dark, 30);

          transition: color .15s;
        }

        @include media('medium-small') {
          font-size: 16px; 
        }
      }
    }
  }
    

  .comparison-window {
    display: flex;

    width: 100%;

    @include media('medium-small') {
      display: block; 
    }

    .spider-chart { 
      width: 55%; 

      @include media('medium-small') {
        width: 100%; 
      }
    }

    .callout {
      width: 45%;
      margin: 0 auto;

      @include media('medium-small') {
        margin: 40px auto 20px;
        width: 90%; 
      }

      @include media('small') { width: 100%; }

      .callout-content {

        color: $color_font-dark;
        background: $color_bg-medium;

        h3 {
          width: 100%;
          margin: 0; 
          padding: 10px 25px;

          color: $color_font-light;
          font-size: 22px;
          background: $color_brand-primary;

          @include media('small') {
            font-size: 18px; 
          }
        }

        span { font-weight: 700; }        

        .callout-comparisons {
          padding: 10px 25px; 

          @include media('small') {
            font-size: 15px;
          }
        }
      }
    }
  }

}
