.component.spider-chart-layout {

  width: 100%;
  padding: 25px;

  .comparison-selector {
    margin-bottom: 40px;

    & > * { display: inline-block; }

    .power-select {
      display: inline-block; 
      top: 5px;

      width: 300px;

      .ember-power-select-trigger {
        width: 100%;

        font-size: 16px;
      }

      #power-select-destination {
        .ember-power-select-dropdown {
          top: 0 !important;   
        } 
      }
    }

    .comparison-list li {
      display: inline-block;

      margin: 0 3px;
      padding: 6px 8px;

      background: #cecece; 
    }
  }
    

  .comparison-window {
    display: flex;

    width: 100%;

    .spider-chart {
      width: 40%;
    }
  }

}
