.component.spider-chart {
  flex: 1;

  text-align: center;

  text.legend {
    fill: $color_font-dark;
    font-size: 10px !important;
    font-weight: 300;

    @include media('small') {
      font-size: 9px !important;  
    }
  }
}
