.component.stacked-area-chart {

  padding: 30px 15px;

  .axis-label {
    font-size: 12px;
  }

  .legend {
    width: 75%;
    margin: 0 auto;
    background: $color_bg-light;
    &.three-column {
      display: flex;
      ul {
        width: 33.33%;
        display: block;
        margin: 0 auto;
        li {
          width: calc(100% - 1em);
          margin-right: 1em;
          margin: 0;
        }
      }
    }
    ul {
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        display: flex;
        $_size: 12px;
        font-size: $_size;
        margin-bottom: 0.3em;
        &:not(:last-child) {
          margin-right: 1.5em;
        }

        svg.color-patch {
          top: $_size / 2;
          display: block;
          flex: 0 0 0.75rem;
          height: $_size;
          width: $_size;
          margin-right: $_size / 2;
        }
        span.label {
          // width: 50%;
        }
      }
    }
  }

  .tooltip-holder {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    margin: 0;
  }

  .tooltip {
    position: absolute;
    top: 95px;
    left: 130px;
    display: none;

    min-width: 285px;
    width: auto;
    padding: 10px;

    color: $color_font-dark;
    font-size: 14px;
    text-align: left;

    background: $color_bg-medium;
    border: 2px solid darken($color_bg-medium, 10);
    box-shadow: 1px 1px 4px rgba($color_font-dark, .1);

    @include media('medium-small') { padding: 4px; }

    small {
      display: block;

      margin: 0;

      font-size: 10px;
    }

    span {
      margin-left: 2px;

      color: lighten($color_font-dark, 10);
      font-size: 12px;
      font-weight: 300;
    }

    .path-info {
      padding: 2px 10px;

      @include media('medium-small') { padding: 3px 8px; }

      .fuel-type {
        margin-top: -2px;

        font-size: 15px;
        font-weight: 700;

        @include media('medium-small') { font-size: 15px; }
      }
    }

    .percent {
      float: left;

      padding: 10px;
      margin-right: 10px;

      font-size: 30px;

      border-right: 2px solid darken($color_bg-medium, 8);

      @include media('medium-small') {
        font-size: 26px;
      }
    }
  }

  .tooltip-bar {
    z-index: 95;
    display: none;

    stroke: darken($color_bg-medium, 30);
    stroke-width: 2;
  }


}
