.component.stacked-area-chart-layout {
  @include media('small') { display: none; }

  padding: 26px 0;

  .row-index { width: 62%; }

  .metric-selector {
    position: absolute;
    top: 0;
    right: 0;

    .ember-power-select-trigger {
      width: 160px;

      font-size: 18px;
    }

    .ember-power-select-status-icon {
      right: 4px;

      border-width: 9px 7px 0;
    }
  }

  .no-masssave-data {
    width: 80%;
    margin: 80px auto;

    color: darken($color_font-medium, 15);
  }

}
