a.styled { 
  padding-bottom: 1px;

  font-weight: 300;

  border-bottom: 1px solid $color_brand-tertiary;

  opacity: .90;
  transition: opacity .12s;

  &:hover {
    opacity: 1; 
    transition: opacity .12s;
  }

  &.big-link {
    display: inline-block;

    margin: 10px auto;
    padding-bottom: 8px; 

    font-weight: 400;
  }
}
