.content-page {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;

  .page-content {
    flex: 1 0 100%;

    width: 48%;
    max-width: 700px;
    min-width: 570px;
    margin: 0 auto;
    padding: 60px 35px 30px;

    @include media('medium-small') { width: 80%; }
    @include media('small') { min-width: 460px; }
    @include media('x-small') { 
      width: 95%;
      min-width: initial; 
      padding: 40px 25px;
    }

    & + .page-content { 
      padding: 40px 35px 60px;

      border-top: 4px solid $color_bg-medium; 
    }
  }

  h2 {
    margin-bottom: 40px; 

    @include media('small') { 
      margin-bottom: 35px;

      font-size: 20px; 
    }
  }

  h3 {
    font-weight: 700;
    @include media('small') { font-size: 16px; }
  }

  p {
    margin-bottom: 45px;

    text-align: justify; 
    font-weight: 300;
    line-height: 1.6;

    @include media('small') { margin-bottom: 35px; }

    &.intro { margin-top: 50px;}

    ul {
      padding-left: 30px;
      list-style: circle; 

      font-size: 13px;
      text-align: left;

      li { margin: 15px auto; }
    }
  }

}
