.content-page {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;

  .page-content {
    flex: 1 0 100%;

    width: 48%;
    max-width: 700px;
    min-width: 570px;
    margin: 0 auto;
    padding: 60px 35px;

    @include media('medium-small') { width: 80%; }
    @include media('small') { min-width: 460px; }
    @include media('x-small') { 
      width: 95%;
      min-width: initial; 
      padding: 40px 25px;
    }
  }

  h2 {
    margin-bottom: 40px; 

    @include media('small') { 
      margin-bottom: 35px;

      font-size: 20px; 
    }
  }

  h3 {
    font-weight: 700;
    @include media('small') { font-size: 16px; }
  }

  p {
    margin-bottom: 45px;

    text-align: justify; 
    font-weight: 300;
    line-height: 1.6;

    @include media('small') { margin-bottom: 35px; }

    a { 
      padding-bottom: 1px;

      font-weight: 300;

      border-bottom: 1px solid $color_brand-tertiary;

      opacity: .90;
      transition: opacity .12s;

      &:hover {
        opacity: 1; 
        transition: opacity .12s;
      }

      &.big-link {
        display: inline-block;

        margin: 10px auto;
        padding-bottom: 8px; 

        font-weight: 400;
      }
    }

    ul {
      padding-left: 30px;
      list-style: circle; 

      font-size: 13px;
      text-align: left;

      li { margin: 15px auto; }
    }
  }

}
