.route.application {
  $local_width: $layout_content-width + 10%;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;

  text-align: center;

  header {
    width: $local_width;
    margin: 0 auto;

    text-align: left;

    h1 {
      $box_size: 20px;

      padding-left: $box_size * 2;
      margin-top: 30px;

      &:before {
        @extend ._vertical-center;
        top: 50%;
        content: '';

        width: $box_size;
        height: $box_size;

        background: $color_brand-primary;
      }
    }
  }

  nav {
    @extend ._vertical-center;
    left: initial;
    right: 0;
    top: 55%;

    li {
      display: inline-block;

      margin: 0 20px;
      padding-bottom: 8px;

      border-bottom: 2px solid $color_brand-primary;
    }
  }

  .selection-wrapper {
    flex: 1 0 100%;
  
    width: $local_width;
    height: 100%;
    margin: 0 auto;
  }

  .selection-content {
    @extend ._vertical-center;
    top: 35%;
  }

  footer {
    @extend ._clear;

    width: 100%;
    padding: 30px;

    color: $color_font-medium;

    background: $color_brand-primary;

    .created-at {
      float: left;
    }

    .copyright {
      float: right; 
    }
  }

}
