.route.application {
  $local_width: $layout_content-width + 10%;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;

  text-align: center;

  header {
    width: $local_width;
    margin: 0 auto;

    text-align: left;

    @include media('medium-small') { width: 95%; }

    h1 {
      $box_size: 20px;
      $box_size--medium-small: 15px;

      padding-left: $box_size * 4;
      margin-top: 30px;

      @include media('medium-small') { 
        padding-left: $box_size--medium-small * 4;

        font-size: 25px; 
      }

      span { 
        top: -2px;

        margin-left: 8px;

        color: lighten($color_font-dark, 10);
        font-size: 24px;
        font-weight: 100; 

        @include media('medium-small') {
          top: 0;

          font-size: 21px; 
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 35px;
        top: 29%;
        z-index: 5;

        width: 0;

        border-style: solid;
        border-color: $color_brand-primary transparent transparent;
        border-width: $box_size ($box_size * 1.2);
        transform: rotate(-120deg);

        @include media('medium-small') {
          top: 30%;
          left: 28px;
          border-width: $box_size--medium-small ($box_size--medium-small * 1.2);
        }
      }

      &:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0%;

        width: 0;

        border-style: solid;
        border-color: $color_brand-primary--dark transparent transparent;
        border-width: $box_size ($box_size * 1.2);
        transform: rotate(70deg);

        @include media('medium-small') {
          border-width: $box_size--medium-small ($box_size--medium-small * 1.2);
        }
      }
    }
  }

  nav {
    @extend ._vertical-center;
    left: initial;
    right: 0;
    top: 55%;

    @include media('medium-small') {
      top: 60%; 
    }

    li {
      display: inline-block;

      margin: 0 20px;
      padding-bottom: 8px;

      border-bottom: 2px solid $color_brand-primary;

      @include media('medium-small') {
        margin: 0 10px;
        padding-bottom: 5px; 

        font-size: 14px;
      }
    }
  }

  .selection-wrapper {
    flex: 1 0 100%;
  
    width: $local_width;
    height: 100%;
    margin: 0 auto;
  }

  .selection-content {
    @extend ._vertical-center;
    top: 30%;

    margin: 0 auto;

    svg.lightbulb {
      display: inline-block;
      top: 20px;
      z-index: 10;

      margin-right: 20px;

      @include media('medium-small') {
        top: 15px;

        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    .power-select {
      display: inline-block;
      width: calc(100% - 60px);
      max-width: 780px;

      @include media('medium') { max-width: 690px; }
      @include media('medium-small') { max-width: 530px; }
    }
  }

  footer {
    width: 100%;
    height: 70px;

    color: $color_font-dark;

    background: $color_bg-medium;
    border-top: 4px solid $color_brand-primary;

    .footer-content { 
      width: $local_width; 
      height: 100%;
      margin: 0 auto;
    }

    .created-at {
      @extend ._vertical-center; 
      right: initial;

      height: 60%;

      h4 {
        display: inline-block;
        bottom: 1px;

        margin: 0;
        margin-right: 5px;

        text-align: left;
        text-transform: uppercase;
        font-family: $font_family-secondary;
        font-size: 19px;
        font-weight: 400;
      }

      .mapc-logo {
        height: 100%; 
      }
    }

    .copyright {
      @extend ._vertical-center;
      left: initial;
      height: 35%;

      img {
        height: 100%;
      }
    }
  }

}
