.route.city {

  .city-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;

    width: 100%;
    height: $layout_nav-height;

    background-color: $color_bg-light;

    border-bottom: 1px solid $color_bg-medium;

    animation: slideIn 0.2s;
    overflow: hidden;

    @include media('small') {
      height: $layout_nav-height--small;
    }

    .home-button-wrapper {
      z-index: 50;

      min-width: $layout_nav-height + 10px; 

      box-shadow: 0 0 20px 20px $color_bg-light;
    }

    .home-button {
      box-sizing: initial;
      display: flex;

      width: $layout_nav-height;
      min-width: $layout_nav-height;
      height: $layout_nav-height;

      text-align: center;
      background: $color_brand-primary;

      border-left: 0px solid $color_brand-primary--dark;

      transition: border-width .2s;

      @include media('small') {
        width: $layout_nav-height--small;
        min-width: $layout_nav-height--small;
        height: $layout_nav-height--small;
      }

      &:hover {
        border-width: 10px;
        transition: border-width .2s;
      }
  
      img {
        width: 60%;
        height: auto;
        margin: 0 auto;
      }
    }

    ul {
      @extend .content-wrapper;

      display: flex;

      height: $layout_nav-height + 17px;

      overflow-x: scroll;

      @include media('small') { height: $layout_nav-height--small + 28px; }
    }

    li {
      flex: 1;

      min-width: 120px;

      text-align: center;

      &:first-of-type { margin-left: 0; }
      &:last-of-type { margin-right: 0; }

      a, span {
        @extend ._vertical-center;
        top: calc(50% - 13px);

        font-size: 18px;

        @include media('small') { 
          top: calc(50% - 17px);
          font-size: 16px; 
        }
      }

      a {
        $trans_duration: .2s;

        color: $color_brand-primary;
        transition: color $trans_duration;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;

          height: $layout_nav-height;
          width: 100%;

          border-bottom: 3px solid $color_brand-primary;

          transition: height $trans_duration;
        }

        &.active, &:hover {
          color: $color_font-dark;

          transition: color $trans_duration;

          &:after {
            height: $layout_nav-height - 17px;
            transition: height $trans_duration;

            @include media('small') {
              height: $layout_nav-height--small - 13px;
            }
          }
        }

        &.active {
          font-weight: 700;
        }

        &:hover {
          &:not(.active):after {
            @include media('medium-small') {
              height: $layout_nav-height--small; 
            }
          } 
        }
      }

      span { 
        font-weight: 300;
      }

    }
  }

  .content-window {
    min-height: 100vh;
    height: 100%;
    padding-top: $layout_nav-height;

    @include media('small') { padding-top: $layout_nav-height--small; }
  }

  .city-information {
    $vertical_padding: 50px;

    width: 100%;
    padding: ($vertical_padding * 2) 0 $vertical_padding;

    background: $color_bg-medium;
    border-bottom: 5px solid $color_brand-primary;
    overflow: hidden;

    @include media('medium-small') {
      padding: $vertical_padding 0 ($vertical_padding / 1.5);
    }

    h1 { 
      margin-top: 0; 

      @include media('medium-small') {
        font-size: 26px; 
      }
    }

    p { 
      width: 60%; 

      @include media('medium-small') {
        width: 50%; 

        font-size: 15px;
      }

      @include media('small') {
        width: 100%; 
      }
    }

    .sector-graphic {
      position: absolute;
      right: 0;
      bottom: -($vertical_padding * 1.8);

      height: calc(100% + 135px);
      max-width: 42%;

      @include media('medium-small') {
        right: -5%;
        bottom: -($vertical_padding * 1.35);

        height: calc(100% + 50px);
        max-width: 52%;
      }
      @include media('small') { display: none; }
    }
  }

  .spider-chart-layout {
    border-top: 1px solid $color_font-medium;
  }

}
