.route.index {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;

  text-align: center;

  .selection-wrapper {
    flex: 1 0 100%;

    width: $layout_index-width;
    height: 100%;
    min-height: 80vh;
    margin: 0 auto;

    @include media('small') { width: 95%; }
  }

  .selection-content {
    @extend ._vertical-center;
    top: 30%;

    margin: 0 auto;

    svg.lightbulb {
      display: inline-block;
      top: 20px;
      z-index: 10;

      margin-right: 20px;

      @include media('medium-small') {
        top: 15px;

        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      @include media('small') { display: none; }
    }

    .power-select {
      display: inline-block;
      width: calc(100% - 60px);
      max-width: 780px;

      text-align: left;

      @include media('medium') { max-width: 690px; }
      @include media('medium-small') { max-width: 530px; }
    }

    .subnote {
      position: absolute;
      bottom: -300%;
      left: 10px;
      text-align: left;

      color: lighten($color_font-dark, 30);
      font-size: 16px;
      font-weight: 100;

      @include media('medium') { bottom: -390%; }
      @include media('medium-small') {
        bottom: -360%;

        font-size: 14px;
      }
      @include media('small') { bottom: -270%; }
    }
  }
}
