.route.city-index {

  .city-overview-table {

    margin: 50px auto;

    article {
      display: flex; 
    }

    .row-index {
      width: 37%;

      margin-right: 3%
    }

    .row-values {
      display: flex;

      width: 60%; 
    }
    
    .row-value {
      width: 25%; 
      padding: 0 10px;
    }

    .table-header {

      min-height: 110px;
      margin-bottom: 35px;

      h2 {
        margin: 0;
        padding: 14px 0 20px;

        font-size: 26px; 
        
        border-style: solid;
        border-width: 2px 0;
        border-color: $color_bg-medium;
      }

      h5 {
        margin: 0;

        font-size: 15px;
        text-align: center; 
      }

      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        max-height: 80%;
        max-width: 50%;
        margin: 0 auto;
      }
    }

    .type-row {
      margin: 24px 0;

      h5 { 
        font-size: 15px;
        margin: 3px 0; 
      } 

      .row-index { display: flex; } 

      h4 {
        width: 30%; 

        text-align: right;
        font-size: 18px;
      }

      .type-icon-wrapper {
        width: 40%; 

        img {
          @extend ._vertical-center;

          max-height: 80%; 
          margin: 0 auto;
        }
      }

      .metrics {
        width: 30%; 
      }

      .row-value {
        padding: 0 8%;

        h5 {
          top: -6px;
          font-weight: 400;
          margin: 0;

          &.consumption {
            color: $color_brand-secondary;
            margin: 0;
            font-size: 26px;
          }
        } 
      }
    }

  } // .city-overview-table


  .overview-compare {
    display: flex;

    padding: 50px 0;

    border-top: 3px solid $color_bg-medium;

    h2 {
      flex: 1;

      width: 40%; 
      margin-right: 5%;

      .power-select {
        width: 70%; 

        div, input { width: 100%; }
      }

      #power-select-destination {
        .ember-power-select-dropdown { 
          top: 0 !important; 

          font-size: 15px;
          font-weight: 400;
        } 
      }
    }

    .comparison-table {
      display: flex;
      width: 55%; 

      border: 2px solid $color_bg-medium;
    }

    .comparison-column {
      width: 33.33%; 

      color: $color_brand-primary;

      &.current-muni { color: $color_font-dark; }

      h5 {
        display: inline-block;

        min-height: 30px;
        padding-bottom: 5px;
        margin: 20px 0 10px;

        font-size: 18px;
        font-weight: 400;

        border-bottom: 3px solid transparent;

        transition: border-bottom-color .15s;
      }

      &:not(.current-muni) {
        h5 {
          cursor: pointer;

          &:hover {
            border-bottom-color: $color_font-medium; 
            transition: border-bottom-color .15s;
          }
        } 
      }

      & > div {
        height: 80px;

        img { 
          @extend ._vertical-center;

          max-height: 66%;
          margin: 0 auto;
        }

        span {
          @extend ._vertical-center; 
          top: 40%;

          font-size: 36px;
        }
      }
    }

  }

}
