.route.city-index {

  .city-overview-flipper {
    display: none;

    width: 100%;
    height: 50vh;

    text-align: center;

    .city-overview-flipper-content {
      @extend ._vertical-center;
      color: $color_font-medium;

      img { 
        display: block; 
        margin: 30px auto 0;
        width: 45px;
      }
    }

    @media (max-width: 480px) and (min-height: 475px) {
      display: block; 
    }
  }

  .city-overview-table {
    margin: 50px auto 15px;

    @include media('small') { margin: 35px auto; }
    @include media('x-small') { display: none; }

    article { display: flex; }

    .row-index {
      width: 37%;
      margin-right: 3%;

      @include media('medium-small') { width: 16%; }
      @include media('small') {
        width: 24%;
        margin-right: 1%;
      }
    }

    .row-values {
      display: flex;

      width: 60%; 

      @include media('medium-small') { width: 80%; }
      @include media('small') { width: 75%; }
    }
    
    .row-value {
      width: 25%; 
      padding: 0 10px;
    }

    .table-header {
      @extend ._clear;

      min-height: 110px;
      margin-bottom: 35px;

      @include media('medium-small') {
        display: block; 
        margin-bottom: 0px;
      }

      h2 {
        margin: 0;
        padding: 14px 0 20px;

        font-size: 26px; 
        
        border-style: solid;
        border-width: 2px 0;
        border-color: $color_bg-medium;
        
        @include media('small') { 
          padding: 10px 0 16px;

          font-size: 20px; 
        }
      }

      h5 {
        margin: 0;

        font-size: 15px;
        text-align: center; 

        @include media('small') { font-size: 13px; }
      }

      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        max-height: 80%;
        max-width: 50%;
        margin: 0 auto;
      }

      .row-index {
        @include media('medium-small') { width: 100%; }
      }

      .row-values {
        @include media('medium-small') {
          float: right;

          height: 110px;
          margin-top: 40px;
        }
        @include media('small') {
          height: 80px; 
          margin-top: 30px;
        }
      }
    }

    .type-row {
      margin: 24px 0;

      @include media('medium-small') { margin: 20px 0; }

      h5 { 
        font-size: 15px;
        margin: 3px 0; 

        @include media('medium-small') { font-size: 14px; }
        @include media('small') { font-size: 12px; }
      } 

      .row-index { 
        display: flex; 

        @include media('medium-small') { display: block; }
      } 

      h4 {
        width: 30%; 

        text-align: right;
        font-size: 18px;

        @include media('medium-small') {
          width: 100%; 
          margin: 0;
          margin-bottom: 15px;

          text-align: left;
          font-size: 16px;
        }

        @include media('small') { font-size: 14px; }

        span {
          position: absolute;
          top: -5px;
          right: -13px;

          color: $color_state-warn;
          font-size: 14px;
          font-weight: 100;
        }
      }

      .type-icon-wrapper {
        width: 40%; 

        img {
          @extend ._vertical-center;

          max-height: 80%; 
          margin: 0 auto;
        }

        @include media('medium-small') { display: none; }
      }

      .metrics {
        width: 30%; 

        h5 {
          padding-left: 8px;
          border-left: 4px solid lighten($color_font-dark, 20);

          &.consumption { border-color: $color_brand-secondary; }
          &.emissions { border-color: $color_brand-tertiary; }
        }

        @include media('medium-small') { width: 100%; }
      }

      .row-value {
        padding: 0 8%;

        @include media('medium-small') { padding-top: 34px; }

        h5 {
          top: -6px;
          font-weight: 400;
          margin: 0;

          &.consumption { color: $color_brand-secondary; }

          &.emissions {
            color: $color_brand-tertiary; 
            margin: -6px auto -2px;
          }

          &.consumption, &.emissions {
            font-size: 23px;

            @include media('small') { font-size: 20px; }
          }
        } 
      }
    }

    .footnote {
      margin-top: 45px;
      padding-left: 10px;

      color: darken($color_font-medium, 15) !important;
      font-size: 12px;
      font-weight: 100;

      span { 
        display: inline-block;

        margin-right: 5px;

        color: $color_state-warn;
      } 

      a { 
        color: inherit;
        text-decoration: underline; 
      }
    }

  } // .city-overview-table


  .overview-compare {
    padding: 10px 0;

    border-top: 3px solid $color_bg-medium;

    h2 {
      margin-right: 5%;

      @include media('small') { font-size: 16px; }

      .power-select {
        display: inline-block;
        width: 40%; 

        div, input { width: 100%; }
      }

      #power-select-destination {
        .ember-power-select-dropdown { 
          top: 0 !important; 

          font-size: 15px;
          font-weight: 400;
        } 
      }
    }

    .comparison-tables {
      display: flex;

      margin: 40px auto;

      @include media('medium-small') { margin: 30px auto; }
      @include media('small') { display: block; }
    }

    .comparison-table-wrapper {
      width: 48%; 

      margin: 0 1%;

      h4 { 
        font-size: 18px;
        font-weight: 400;
        text-align: center; 

        span { font-weight: 700; }

        @include media('medium-small') { font-size: 16px; }
      }

      @include media('small') {
        width: 100%; 
        margin: 50px auto;
      }
      @include media('x-small') { margin: 40px auto; }
    }

    .comparison-table {
      display: flex;

      width: 100%;

      border: 2px solid $color_bg-medium;
    }

    .comparison-column {
      width: 33.33%; 

      color: $color_brand-primary;

      &.current-muni { color: $color_font-dark; }

      h5 {
        display: inline-block;

        min-height: 30px;
        padding-bottom: 5px;
        margin: 20px 0 10px;

        font-size: 18px;
        font-weight: 400;

        border-bottom: 3px solid transparent;

        transition: border-bottom-color .15s;

        @include media('medium-small') { font-size: 16px; }
        @include media('x-small') { font-size: 13px; }
      }

      &:not(.current-muni) {
        h5 {
          cursor: pointer;

          &:hover {
            border-bottom-color: $color_font-medium; 
            transition: border-bottom-color .15s;
          }
        } 
      }

      & > div {
        height: 80px;

        @include media('medium-small') { height: 65px; }
        @include media('x-small') { height: 60px; }

        img { 
          @extend ._vertical-center;

          max-height: 66%;
          margin: 0 auto;

          @include media('medium-small') { max-height: 55%; }
          @include media('x-small') { max-height: 50%; }
        }

        span {
          @extend ._vertical-center; 
          top: 40%;

          font-size: 36px;

          @include media('medium-small') { font-size: 30px; }
          @include media('x-small') { font-size: 24px; }
        }
      }
    }

  }

}
