<div class="ui inverted fixed menu">
  <div class="item">
    LEAP into Action
  </div>
  <div class="item">
    <h3 class="ui header menu-title">
      Gloucester
    </h3>
  </div>
  <div class="right menu">
    <div class="item">
      About
    </div>
    <div class="item">
      Login
    </div>
  </div>
</div>
{{!-- <img src="" class="ui fluid image"/> --}}
<div style="margin-top: 10rem;">
  <div class="ui container basic segment">
    <h1 class="ui header">
      Energy Data
    </h1>
    <div class="ui equal width grid">
      <div class="column">
        <p>
          {{lorem-ipsum}}
        </p>
      </div>
      <div class="column">
        <iframe src="//e.infogr.am/consumption_by_fuel_type?src=embed" title="" width="550" height="722" scrolling="no" frameborder="0" style="border:none;"></iframe>
      </div>
    </div>
  </div>
  <div class="ui basic segment inverted-blue-segment">
    <div class="ui container basic segment">
      <h1 class="ui header">
        Energy Data
      </h1>
      <div class="ui equal width grid">
        <div class="column">
          <p>
            {{lorem-ipsum}}
          </p>
        </div>
        <div class="column">
          <iframe src="//e.infogr.am/consumption_by_structure?src=embed" title="Consumption by Structure" width="550" height="771" scrolling="no" frameborder="0" style="border:none;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
