<section class="route city">

  <div class="city-nav">

    <div class="home-button-wrapper">
      {{#link-to "index" class="home-button"}}
        <img src="/assets/images/house.svg" alt="To Home page">
      {{/link-to}}
    </div>

    <ul>
      <li>{{#link-to "city.index" model.municipality}}{{acronyze model.municipality}}{{/link-to}}</li>
      {{#each sectors as |sector|}}
        <li>
          {{#link-to sector.route model.municipality}}{{sector.name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>

  </div>

  <div class="content-window">
    {{outlet}}
  </div>

  {{footer-content}}

</section>
