<section class="route city">

  <div class="city-nav">

    <div class="home-button-wrapper">
      {{#link-to 'index' class="home-button"}}
        <img src="/assets/images/house.svg">  
      {{/link-to}}
    </div>

    <ul>
      <li>{{#link-to 'city.index'}}{{model.municipality}}{{/link-to}}</li>
      {{#each sectors as |sector|}}
        <li>
          {{link-to sector.name sector.route}}
        </li>
      {{/each}}
    </ul>

  </div><!--/ .menu -->

  <div class="content-window">
    {{outlet}}
  </div>

  {{footer-content}}

</section>
