<div class="route application">

  <header>
    <h1>Local Energy Dashboard</h1>

    <nav>
      <ul>
        <li>Learn More</li>
        <li>Methodology</li>
      </ul>
    </nav>
  </header>

  <div class="selection-wrapper">
    <select onchange={{action 'toMunicipality' value="target.value"}}>
      <option selected>Discover how much energy your town is using</option>
      {{#each municipalities as |municipality|}}
        <option value={{normalize-slug municipality}}>{{municipality}}</option>
      {{/each}}
    </select>
  </div>

  <footer>
    <div class="created-at">
    </div>
    <div class="copyright">
      &copy; {{year}}
    </div>
  </footer>

</div>
