<div class="route application">

  <header>
    <h1>Local Energy Dashboard</h1>

    <nav>
      <ul>
        <li>Learn More</li>
        <li>Methodology</li>
      </ul>
    </nav>
  </header>

  <div class="selection-wrapper">
    <div class="selection-content">
      {{#power-select
        options=municipalities   
        selected=placeholder
        onchange=(action 'toMunicipality')
        as |municipality|
      }}
        {{municipality}}
      {{/power-select}}
    </div>
  </div>

  <footer>
    <div class="created-at">
    </div>
    <div class="copyright">
      &copy; {{year}}
    </div>
  </footer>

</div>
