<section class="grid" id="introduction">
  <div class="item">
    How much energy does your town consume?
  </div>
  <div class="item">
    Select your City:
    {{#power-select options=model onchange=(transition-to 'city' 'worcester') as |name|}}
      {{name}}
    {{/power-select}}
  </div>
</section>

<section class="grid" id="about">
  <div class="item">Map</div>
  <div class="item">Explore Worcester's Energy Consumption</div>
</section>
{{outlet}}