<div class="route application">

  <section class="grid" id="introduction">

    <div class="item">
      <h1>How much energy does your town consume?</h1>
    </div>

    <div class="item">
      <h2>Select your City:</h2>
      <select onchange={{action 'toMunicipality' value="target.value"}}>
        {{#each municipalities as |municipality|}}
          <option value={{normalize-slug municipality}}>{{municipality}}</option>
        {{/each}}
      </select>
    </div>

  </section><!--/ #introduction -->


  <section class="grid" id="about">
    <div class="item">Map</div>
    <div class="item">Explore Worcester's Energy Consumption</div>
  </section><!--/ #about -->

  {{outlet}}

</div>
