<section class="route learn-more content-page">

  {{header-content}}

  <div class="page-content">

    <p class="intro">
      The Local Energy Action Dashboard ("Energy Dashboard") is a tool to help 
      communities across Massachusetts explore and compare energy, emissions, and 
      cost estimates for their residential, commercial, and industrial buildings. 
      The Energy Dashboard makes energy use baseline estimates for a community's 
      homes and businesses available in an accessible and interactive snapshot - 
      to provide cities and towns with a high-level understanding of how their 
      residents and business consume energy. By developing this tool, MAPC seeks 
      to make energy information about a community's homes and businesses easily 
      available and provide helpful context to cities and towns for implementing 
      community-wide clean energy programs.
    </p>

    <h2>How can I use the Local Energy Action Dashboard?</h2>

    <h3>1. Estimate a Community-wide Energy Baseline</h3>
    <p>
      Using the Energy Dashboard, cities and towns can examine their community's 
      residential, commercial, and industrial energy use baseline and MAPC can work 
      with them to identify strategies for reaching energy and emissions reduction 
      goals. The Energy Dashboard automates the methodology that MAPC uses to 
      establish community-wide energy baselines. <a href="mailto:cleanenergy@mapc.org" class="styled">Contact MAPC</a> 
      to discuss how the Clean Energy Team can help your city or town with deep 
      analysis of energy data, strategic goal setting, and strategy implementation.
    </p>

    <h3>2. Compare Building Energy Use with Neighbor Communities</h3>
    <p>
      The Energy Dashboard allows you to compare your community's residential, 
      commercial, and industrial energy use, emissions, and energy cost with other 
      Massachusetts municipalities' profiles with the click of a button. Compare to 
      figure out if your neighboring communities face similar challenges with energy 
      reduction in a particular sector, and use this feature to identify opportunities 
      for collaboration or peer learning. <a href="mailto:cleanenergy@mapc.org">Contact MAPC</a> 
      to get connected to peers.
    </p>

    <h3>3. Make a Net Zero Plan</h3>
    <p>
      MAPC is developing net zero planning tools to help municipalities make (and achieve) 
      ambitious climate commitments, such as a community-wide net zero goal. While 
      currently the Energy Dashboard only examines energy and emissions related to the 
      built environment, it is MAPC's intent for the Energy Dashboard to evolve into an 
      online tool for communities getting started on a local greenhouse gas inventory. 
      <a href="mailto:cleanenergy@mapc.org">Contact MAPC</a> to learn more about net 
      zero planning and greenhouse gas inventories.
    </p>
  </div>

  <div class="page-content">

    <h2>About MAPC</h2>

    <p>
      The Metropolitan Area Planning Council (MAPC) is the regional planning agency serving 
      the people who live and work in the 101 cities and towns of Metropolitan Boston. Our 
      mission is to promote smart growth and regional collaboration. Our regional plan, 
      MetroFuture, guides our work as we engage the public in responsible stewardship of 
      our region’s future.
    </p>

    <p>
      MAPC's Clean Energy department provides a range of services to communities, including 
      comprehensive local energy and climate planning, energy-related technical assistance, 
      and regional energy procurements. Our goal is to advance markets for clean technology 
      while reducing greenhouse gas emissions and dependence on fossil fuel consumption in 
      the Commonwealth.
    </p>

    <p>
      <a href="http://www.mapc.org/cleanenergy" class="styled big-link">
        Get plugged in to MAPC's Clean Energy programs
      </a>.
    </p>

  </div>

  {{footer-content}}

</section>
