<section class="route learn-more content-page">

  {{header-content}}

  <div class="page-content">
    <h2>How can I use the Local Energy Action Dashboard?</h2>

    <h3>1. Estimate a Community-wide Energy Baseline</h3>
    <p>
      Using the Local Energy Action Dashboard, cities and towns can examine their 
      community-wide energy use baselines and MAPC can work with them to identify 
      strategies for reaching energy and emissions reduction goals. Local Energy 
      Action Dashboard automates the methodology that MAPC uses to establish 
      community-wide energy baselines. <a href="mailto:cleanenergy@mapc.org" class="styled">Contact MAPC</a> 
      to discuss how the Clean Energy Team can help your city or town with deep 
      analysis of energy data, strategic goal setting, and strategy implementation. 
    </p>

    <h3>2. Compare Building Energy Use with Neighbor Communities</h3>
    <p>
      The Local Energy Action Dashboard allows you to compare your municipality's 
      energy use, emissions, and energy cost with other Massachusetts municipalities' 
      profiles with the click of a button. Compare to figure out if your neighboring 
      communities face similar challenges with energy reduction in a particular sector, 
      and use this feature to identify opportunities for collaboration or peer 
      learning. <a href="mailto:cleanenergy@mapc.org" class="styled">Contact MAPC</a> 
      to get connected to peers.  
    </p>

    <h3>3. Make a Net Zero Plan</h3>
    <p>
      MAPC is developing net zero planning tools to help municipalities make 
      (and achieve) ambitious climate commitments, such as a community-wide net zero 
      goal. While currently LEAD only examines energy and emissions related to the 
      built environment, it is MAPC's intent for LEAD to evolve into an online tool 
      for communities getting started on a local greenhouse gas inventory. 
      <a href="mailto:cleanenergy@mapc.org" class="styled">Contact MAPC</a> to learn 
      more about net zero planning and greenhouse gas inventories.  
    </p>

    <p>
      <a href="http://www.mapc.org/cleanenergy" class="styled big-link">
        Get plugged in to MAPC's Clean Energy programs
      </a>.
    </p>

  </div>

  {{footer-content}}

</section>
