<section class="route methodology content-page">

  {{header-content}}

  <div class="page-content">

    <h2>Methodology</h2>

    <p>
      The Local Energy Action Dashboard (LEAD) provides community-wide baseline estimates using a 
      methodology developed by the Metropolitan Area Planning Council (MAPC). MAPC’s methodology 
      provides communities with an estimated baseline of building energy consumption, emissions, 
      and costs for the industrial, commercial, and residential sectors. The baseline estimates are 
      derived from publicly available data sets such as census data, labor statistics, and building 
      energy survey analyses. This methodology is intended for use as a baseline for the purposes 
      of local energy planning efforts and can provide insight in to the types and scale of energy 
      use within a community. However, since the inputs of this methodology are static data sources, 
      the baselines derived using this methodology cannot be used to benchmark and monitor subsequent 
      changes in use. 
    </p>

    <h3>Limitations of the Methodology</h3>
    <p>
      The current methodology provides baseline estimates solely for energy consumption, emissions 
      and costs associated with industrial, commercial, and residential buildings within a particular 
      community. The baseline estimates include only electricity, natural gas and fuel oil consumption 
      for these sectors. Additionally, the baseline estimates do not include energy consumption, 
      emissions, and costs associated with a city or town’s municipally owned buildings. The 
      Massachusetts Department of Energy Resources provides Massachusetts communities with access to 
      <a href="https://www.massenergyinsight.com" class="styled">MassEnergyInsight</a> - a free, online tool to help 
      cities and towns better understand their municipal energy use baseline. Typically, municipal 
      energy consumption accounts for 4-6 percent of community-wide energy consumption.
    </p>

    <h3>Data Sources</h3>
    <p>
      <ul>
        <li>
          <a href="https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t" class="styled">
            American Community Survey (ACS), 2011-2015 5-Year Community Estimates
          </a>
        </li>
        <li>
          <a href="https://www.eia.gov/consumption/residential/data/2009/index.php?view=consumption" class="styled">
            Energy Information Administration (EIA) Residential Energy Consumption Survey (RECS), 2009
          </a>
        </li>
        <li>
          <a href="https://www.eia.gov/consumption/commercial/data/2012/index.php?view=consumption" class="styled">
            Energy Information Administration (EIA) Commercial Building Energy Survey (CBECS), 2012
          </a>
        </li>
        <li>
          <a href="https://www.eia.gov/consumption/manufacturing/data/2010/index.php" class="styled">
            Energy Information Administration (EIA) Manufacturing Energy Consumption Survey (MECS), 2010
          </a>
        </li>
        <li>
          <a href="http://lmi2.detma.org/lmi/lmi_es_a.asp" class="styled">
            MA Executive Office of Wages and Labor Division (EOWLD) ES-202 – Employment and Wages Survey
          </a>
        </li>
      </ul>
    </p>

    <p>
      <a href="/assets/documents/mapc-lead-methodology.pdf" class="styled big-link">Download the full methodology</a>
      <br>
      <a href="/assets/documents/mapc-lead-estimates-data.zip" class="styled big-link">Download the data</a>
    </p>

  </div>

  <div class="page-content">

    <h2>Utility Data Transparency</h2>
    <p>
      As described in the methodology, his dashboard currently only provides an annual estimation of community-wide 
      energy use. With access to actual annual energy use for all 351 municipalities in the Commonwealth, the Local 
      Energy Action Dashboard could provide municipalities a more precise energy baseline. With a year over year 
      energy data from the utility, LEAD could provide cities and towns with an understanding of how community-wide 
      energy use is influenced by local clean energy initiatives and programs. MAPC drafted and filed legislation 
      with the Massachusetts State Legislature to require utilities to provide Massachusetts cities and towns with 
      consistent access to community-wide energy data. Learn more about our policy advocacy efforts 
      <a href="http://www.mapc.org/legislative-priorities" class="styled">here</a>.
    </p>

  </div>

  {{footer-content}}

</section>
